body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ECEAE8;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
#logo {
    font-family: Helvetica;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.right {
    float: right;
}
.text-center{
    text-align: center;
}
#header{
    background-color: #ffffff; 
    background-size: cover;
    background:  url("../img/yellow.jpg") no-repeat center center;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}
.header-items h1 {
    font-size:40px;
    font-weight: 600;
    color:white;
}
.header-items h2 {
    font-size:30px;
    font-weight:500;
    color:#000000;
}
span {
    color: #f4a91e;
    font-weight: bold;
}
.btn-main {
    background-color: #f4a91e;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: white;
    padding: 8px;
    margin: 15px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-decoration: none;
}
.btn-main:hover {
    background-color: #fca401;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.main-container {
    display: flex;
    height: 800px;
    width: 80%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    width: 100%;
    border-top: 1px solid #a3a3a3;
    height: 200px;
    background-color: #a5a4a4
}







/* For debugging purposes */
.red {
    border:2px solid red;
}
.green {
    border:2px solid green;
}
.blue {
    border:2px solid blue;
}